.home-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blogs-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5rem;

  .heading3 {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 3rem;
  }

  .line {
    height: 1px;
    background-color: var(--gray-color);
    border: none;
  }
}

.userInterest-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInterested-section__people {
  margin-top: 5rem;
}

.blogDetail-section {
  padding: 5rem;
}

.admin-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 5rem;
  padding: 2.5rem 3rem;
  background-color: #ffff;
  border: 1px solid var(--gray-color-light);
  box-shadow: 1rem 1rem 1rem var(--gray-color);
}