.profile {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    &__image {
        outline: 2px solid var(--primary-color);
        width: 20rem;
        padding: .2rem;
        height: 20rem;
        border-radius: 50rem;
    }

    &__btn {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 2rem;
        border: 1px solid var(--gray-color);
        background-color: transparent;
        border-radius: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.2s all;

        :first-child {
            font-size: 2rem;
        }

        &:hover {
            background-color: var(--primary-color);
            color: #ffff;
            transform: scale(1.1);
            cursor: pointer;
        }
    }


    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        &__action {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            & span {
                font-size: 2.5rem;
                font-weight: bold;
            }

            & p {
                font-size: 2rem;
                color: var(--gray-color);
            }

        }
    }

    &__blogs {
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        gap: 3rem;

    }

    &__blog {
        width: 40rem;
        height: 20rem;
        position: relative;

        & img {
            width: 100%;
            height: 100%;
        }


        .heading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: var(--primary-color);
            font-size: 2rem;
            color: rgb(195, 111, 0);
            text-transform: uppercase;
            display: none;
            width: 100%;
            text-align: center;


            .icon {
                font-size: 4rem;
                color: white;
            }

            & h2 {
                font-size: 2rem;
            }
        }

        &:hover .heading {
            display: block;
            animation: dropTop 0.5s ease-in-out;
            cursor: pointer;
        }

        &:hover img {
            filter: blur(5px) opacity(.8);
            cursor: pointer;
        }
    }
}